<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--settings ：控制mybatis全局行为-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>


    <!--设置别名-->
    <typeAliases>
        <!--name:实体类所在地包名 （不是实体类的包名也可以）-->
        <package name="com.wwcai.crm.settings.domain"/>
        <package name="com.wwcai.crm.workbench.domain"/>
    </typeAliases>

    <!--
        sql mapper(sql映射文件)的位置：
    -->
    <mappers>
        <!--name: 包名， 这个包名中所有的 mapper.xml一次都能加载
            使用 package 要求：
                1、mapper 文件名和 dao 接口名必须完全一样
                2、mapper 和 dao 在同一目录
        -->
        <package name="com.wwcai.crm.settings.dao"/>
        <package name="com.wwcai.crm.workbench.dao"/>
        <!--        <mapper resource=""/>-->
    </mappers>
</configuration>
